<div id="test">
    <form [formGroup]="LoginForm" (ngSubmit)="sendLogin(LoginForm.value)">

        <div class="container">
            <div class="form-group">

                <label for="userName"><b>Username</b></label>
                <input type="text" class="form-control" placeholder="Enter Username" formControlName="username"
                    name="userName" required>

                <label for="password"><b>Password</b></label>
                <input type="password" class="form-control" placeholder="Enter Password" formControlName="password"
                    name="password" required>

                <button type="submit" class="btn btn-success btn-md">Login</button>
            </div>
        </div>
    </form>
</div>
<!-- <p>User {{this.response?.username}} has succesfully logged in</p> -->