<form #SubjectForm="ngForm"  (ngSubmit)="createSubject(SubjectForm.value)">

    <div class="container">
        <div class="form-group">

            <label for="subject_name"><b>Subject Name</b></label>
            <input type="text" class="form-control" placeholder="Enter Subject Name" [(ngModel)]="subject_name"
                name="subject_name" required>

            <label for="subject_description"><b>Subject Desription</b></label>
            <input type="text" class="form-control" placeholder="Enter Desription for Subject"
                [(ngModel)]="subject_description" name="subject_description" required>

            <button type="submit" class="btn btn-success btn-md">Submit</button>
        </div>
    </div>
</form>

<div class="row ">
    <div class="col-sm-2">
        Code
    </div>
    <div class="col-sm-8">
        Name
    </div>
</div>
<div class="row" *ngFor="let speciality of specialityArr">
    <div class="col-sm-2">
        {{speciality.speciality_code}} </div>
    <div class="col-sm-8">
        {{speciality.speciality_name}} </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-success btn-sm" title="edit speciality"
            (click)="delSpeciality(speciality)">
            <i class="fa fa-pencil"></i>
        </button>
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-success btn-sm" title="delete speciality"
            (click)="delSpeciality(speciality)">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>Desciption</th>
            <th>Code</th>
            <th>Name</th>
        </tr>
    </thead>

    <tr *ngFor="let subject of subjectsArr">
        <td class="td-margin">Спеціальність:</td>
        <td class="td-margin">{{subject.subject_name}}</td>
        <td class="td-margin">{{subject.subject_description}}</td>
        <td>
            <button class="btn btn-success btn-sm" title="delete subject" (click)="delSubject(subject)">
                x
            </button>
        </td>

    </tr>
</table>