
<form [formGroup]="SubjectForm" (ngSubmit)="createSubject(SubjectForm.value)">

    <div class="container">
        <div class="form-group">

            <label for="subject_name"><b>Subject Name</b></label>
            <input type="text"class="form-control" placeholder="Enter Subject Name" formControlName="subject_name" name="subject_name" required>

            <label for="subject_description"><b>Subject Desription</b></label>
            <input type="text" class="form-control" placeholder="Enter Desription for Subject"  formControlName="subject_description" name="subject_description" required>

            <button type="submit" class="btn btn-success btn-md">Submit</button>
        </div>
    </div>
</form>